body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

* {
    /* border: red dashed 1px; */
}

body>div {
    padding: 0 min(150px, 1rem);
}

.container-header {
    display: flex;
    /* border: red solid; */
    background-color: #1F2937;
    color: #f9FAF8;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;

    
    
}

.header-logo {
    flex: 6;
    margin-left: min(20px, .5rem);
    font-size: 24px;

    /* border: blue solid; */
    
}
.header-links {
    flex: 4;
    /* border: blue solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    
    
}


.container-top {
    display: flex;
    /* border: red solid; */
    background-color: #1F2937;
    color: #f9FAF8;
    align-items: center;
}
.sign-up {
    display: flex;
    flex-direction: column;
    /* border: blue solid; */
    flex: 1;
    padding: 20px;
    }
.sign-up-header {
    font-size: 48px;
    font-weight: 900;
    /* border: purple solid; */
}
.sign-up-text {
    
    font-size: 18px;
    color: #E5E7EB;
    /* border: purple solid; */
}
button {
    max-width: 100px;
    height: 20px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: white 1px solid;
    /* border: purple solid; */
}
.container-top>img {
    /* border: blue solid; */
    flex: 1;
    width: min(50%, 1000px);
    height: auto;
    padding-bottom: 50px;
}



.container-second {
    display: flex;
    flex-direction: column;
    /* border: red solid; */
    align-items: center;
}

.images {
    /* border: blue solid; */
    display: flex;
    justify-content: space-between;
    width: 95%;
    text-align: center;
    gap: min(50px, 1rem);
    /* flex-wrap: wrap; */
    
}
.info {
    font-size: 36px;
    padding: 20px;
    font-weight: 700;
}
.image-text>img
{
    border: #388BF6 solid;
    border-radius: 20%;
    max-width: 100%;
    height: auto;
}
.image-text {
    /* border: green solid; */
    display: flex;
    flex-direction: column;
    
    width: min(100vh, 400px);
    align-items: center;
    justify-content: space-between;
}




.container-third {
    display: flex;
    flex-direction: column;
    /* border: red solid; */
    align-items: center;
    background-color: #E2E4EB;
    gap: 0px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 0 min(30%,3rem);
    width: max(500px, 10vh);
    margin-bottom: 0px;;
}
.author {
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
    margin-top: 0px;
    padding-left: 40%;
}


.container-fourth {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    background-color: #3882F6;
    align-items: center;
    color: #f9FAF8;
    width: max(400px, 50%);
    /* border: red solid; */
}

.container-fourth>button {
    width: 100px;
    margin-right: 0;
    flex: 1 1 1;
}
.pre-footer-left {
    display: flex;
    flex-direction: column;
    margin-left: 00px;
}
.sign-title {
font-size: 36px;
padding-top: 10px;
margin: 0;
}

.sign-text {
font-size: 18px;
padding-bottom: 10px;
margin: 0;
    }



.container-footer {
    /* border: red solid; */
    background-color: #1F2937;
    color: #f9FAF8;
}
.container-footer>p {
    margin: 0 auto;
    height: 20px;
    text-align: center;
}

